<launch>

<node pkg="octomap_server" 
         type="octomap_server_node" 
         name="octomap_server">

	<param name="resolution" value="0.1" />
	<param name="latch" value="false" />
	<param name="frame_id" type="string" value="/map" />
	<param name="sensor_model/max_range" value="10" />
        <param name="filter_ground" value="false" />
        <param name="pointcloud_min_z" value="-0.2" />
        <param name="pointcloud_max_z" value="3" />
        <param name="base_frame_id" value="/base_link" />
        <remap from="cloud_in" to="semantic_mapper/cloud" />
</node>

 </launch>
